<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div class="login-form">
          <h2 class="mb-4">Iniciar Sesión</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="mb-3">
              <%= f.label :email, class:"form-label"%><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
            <div class="mb-3 mt-1">
              <%= f.label :password, class:"form-label" %><br />
              <%= f.password_field :password, autocomplete: "current-password" , class: "form-control" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
            <div class="d-grid">
              <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>

<style>
  body, html {
      height: 100%;
    }

    .h-custom {
      height: calc(100% - 56px); /* Ajuste para una barra de navegación si la tienes */
    }

    /* Centrar verticalmente el contenido */
    .d-flex {
      display: flex !important;
    }

    .align-items-center {
      align-items: center !important;
    }

    /* Estilo para el formulario */
    .login-form {
      background-color: #f8f9fa;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    }
</style>
